@charset "utf-8";
/* CSS Document */
*{
margin: 0;
padding:0;
}
ul{
list-style:none;
}
a{
text-decoration:none;
font-size: 14px;
}
.clear:after{
content: "";
display: block;
clear: both;
}
.top{
width: 100%;
height: 90px;
background:rgba(15,15,15,0.5);
position: fixed;
z-index: 99;
}
.top-ui{
margin: 0 auto;
width: 1200px;
}
nav li{
display: inline-block;
}
.logo{
width: 145px;
height: 90px;
border:2px solid #0066cc;
display: inline-block;
float: left;;
}
.nav-top{
width: 800px;
float: left;	
}
nav.nav-top ul{
text-align: center;
}
nav.nav-top li{	
width: 90px;
}
nav.nav-top li>a{
color: #fff;
font-size: 14px;
line-height: 90px;
text-align: center;	
}
.login{
width: 96px;
height: 40px;
margin-top: 20px;
border:1px solid #fad65c;
float: left;
text-align: center;
line-height: 40px;
border-radius: 21px;
}
.login>a{
color:#fad65c;
}
.register{
width: 116px;
height:42px;
margin-top:20px;
background:#fad65c;
float: right;	
text-align: center;
line-height: 42px;
border-radius: 21px;
}
.register>a{
color: #976a1c;
}

/*page1*/
.page1{
width: 100%;
height:834px;
background:url(../img/bg_1.jpg) center top no-repeat;
position: relative;
}
.model1{
width: 705px;
height:650px;
background: url(../img/figure_1.png) -590px 0 no-repeat;
position: absolute;
top: 173px;
left: 50%;
}
.icon1-1{
width: 750px;
height: 266px;
background: url(../img/sprites_index.png) 0px 0px no-repeat;
position: absolute;
top:160px;
left: 20%;
animation: page1-move1 2s;
}
.icon1-2{
width: 435px;
height: 110px;
background: url(../img/sprites_index.png) -578px -270px no-repeat;
position: absolute;
top: 375px;
left: 21%;
animation: page1-move2 2s ease-out;
}
.reg-1{
width: 180px;
height:40px;
border:1px solid #fad65c;
text-align: center;
line-height: 40px;
border-radius: 21px;
position: absolute;
top: 485px;
left: 22%;
animation: page1-move3 2.5s ease-out ;
}
.reg-1>a{
color:#fad65c;
}
.reg-2{
width: 180px;
height:42px;
background:#fad65c;	
text-align: center;
line-height: 42px;
border-radius: 21px;
position: absolute;
top: 485px;
left: 34%;
animation: page1-move3 2.5s ease-out ;
}
.reg-2>a{
color: #976a1c;
}
/*page2*/
.page2{
width: 100%;
height:820px;
background:url(../img/bg_2.jpg) center top no-repeat;
position: relative;
}
.model2{
width: 470px;
height: 780px;
background: url(../img/figure_2.png) -495px 0 no-repeat;
position: absolute;
top: 90px;
left: 50%;
z-index: 5;
}
.l-logo2{
width: 150px;
height: 150px;
background: url(../img/sprites_index.png) -665px -420px no-repeat;
position: absolute;
top: 35%;
left: 7%;
animation: move1 1s ease-out ;
}
.l-title2{
width: 450px;
height: 200px;
background: url(../img/sprites_index.png) 25px -245px no-repeat;
position: absolute;
top: 35%;
left: 15%;
animation: move2 1s ease-out ;
}
.page2 ul{
	width: 800px;
	height: 500px;
	position: absolute;
	top: 235px;
    left: 40%;
}
.page2 ul>li{
	width:100px;
	height:100px;
	position: absolute;
}
.page2 ul>li:nth-child(1){
	background: url(../img/sprites_function_feature.png) 0px 0px no-repeat;
	top:360px;
	left:275Px;
	transform: scale(1);
	z-index: 6;
	animation: circle1 2s;
}
.page2 ul>li:nth-child(2){
	background: url(../img/sprites_function_feature.png) 0px -110px no-repeat;
	top:345px;
	left:515px;
	transform: scale(1.3);	
	z-index: 6;
	animation: circle2 ease-out 2s;
}
.page2 ul>li:nth-child(3){
	background: url(../img/sprites_function_feature.png) 0px -220px no-repeat;
	top:220px;
	left:660px;
	transform: scale(1);
	animation: circle3 ease-out 2s;
}
.page2 ul>li:nth-child(4){
	background: url(../img/sprites_function_feature.png) 0px -330px no-repeat;
	top:90px;
	left:580px;
	transform: scale(0.75);
	animation: circle4 ease-out 2s;
}
.page2 ul>li:nth-child(5){
	background: url(../img/sprites_function_feature.png) 0px -440px no-repeat;
	top:60px;
	left:460px;
	transform: scale(0.5);
	animation: circle5 ease-out 2s;
}
.page2 ul>li:nth-child(6){
	background: url(../img/sprites_function_feature.png) 0px -550px no-repeat;
	top:70px;
	left:260px;
	transform: scale(0.25);
	animation: circle6 ease-out 2s;
}
.page2 ul>li:nth-child(7){
	background: url(../img/sprites_function_feature.png) 0px -660px no-repeat;
	top:130px;
	left:125px;
	transform: scale(0.25);
	animation: circle7 ease-out 2s;
}
.page2 ul>li:nth-child(8){
	background: url(../img/sprites_function_feature.png) 0px -770px no-repeat;
	top:225px;
	left:40px;
	transform: scale(0.5);
	animation: circle8 ease-out 2s;
}
.page2 ul>li:nth-child(9){
	background: url(../img/sprites_function_feature.png) 0px -880px no-repeat;
	top:340px;
	left:100px;
	transform: scale(0.75);
	animation: circle9 ease-out 2s;
}

/*page3*/
.page3{
width: 100%;
height:779px;
background:url(../img/bg_3.jpg) center top no-repeat;
position: relative;
}
.model3{
width: 500px;
height: 780px;
background: url(../img/figure_3.png) -690px 0 no-repeat;
position: absolute;
top: 42px;
left: 50%;
}
.l-logo3{
width: 150px;
height: 121px;
background: url(../img/sprites_index.png) -665px -565px no-repeat;
position: absolute;
top: 39%;
left: 7%;
animation: move1 1s ease-out ;
}
.l-title3{
width: 450px;
height: 193px;
background: url(../img/sprites_index.png) 25px -427px no-repeat;
position: absolute;
top: 35%;
left: 15%;
animation: move2 1s ease-out ;
}

.page3 ul{
	width: 1100px;
    height: 700px;
    position: absolute;
    top: 76px;
    left: 23%;
}
.page3 ul>li{
	transform: translateX(-20px) translateY(20px);
	animation-fill-mode:both;
}
.page3 ul>li:nth-child(1){
	width: 1100px;
	height: 700px;
	background: url(../img/sprites_decoration2.png) 20px 30px no-repeat;
	position: absolute;
	z-index: 6;
	animation: page3-move1 2s ease-out 0.2s;
}
.page3 ul>li:nth-child(2){
    width: 320px;
    height: 280px;
    background: url(../img/sprites_game_feature.png) 0px 0px no-repeat;
    position: absolute;
    top: 363px;
    left: 265px;
    z-index: 5;
    animation: page3-move1 2s ease-out;
}
.page3 ul>li:nth-child(3){
    width: 225px;
    height: 355px;
    background: url(../img/sprites_game_feature.png) -400px -246px no-repeat;
    position: absolute;
    top: 55px;
    left: 334px;
    z-index: 4;
    animation: page3-move1 1s ease-out 2s;

}
.page3 ul>li:nth-child(4){
    width: 335px;
    height: 355px;
    background: url(../img/sprites_game_feature.png) -10px -308px no-repeat;
    position: absolute;
    top: 80px;
    left: 375px;
    z-index: 4;
     animation: page3-move1 1s ease-out 2.5s;
}
.page3 ul>li:nth-child(5){
    width: 188px;
    height: 150px;
    background: url(../img/sprites_game_feature.png) -417px -35px no-repeat;
    position: absolute;
    top: 372px;
    left: 565px;
    z-index: 4;
     animation: page3-move1 1s ease-out 3s;
}
.page3 ul>li:nth-child(6){
    width: 188px;
    height: 370px;
    background: url(../img/sprites_game_feature2.png) -417px 0px no-repeat;
    position: absolute;
    top: 160px;
    left: 275px;
    z-index: 4;
     animation: page3-move1 1s ease-out 1.5s;
}
.page3 ul>li:nth-child(7){
    width: 224px;
    height: 260px;
    background: url(../img/sprites_game_feature2.png) -195px -37px no-repeat;
    position: absolute;
    top: 247px;
    left: 182px;
    z-index: 4;
     animation: page3-move1 1s ease-out 1s;
}
.page3 ul>li:nth-child(8){
    width: 150px;
    height: 87px;
    background: url(../img/sprites_game_feature2.png) 0px 0px no-repeat;
    position: absolute;
    top: 563px;
    left: 941px;
    z-index: 5;
     animation: page3-move1 1s ease-out 0.2s;
}
.page3 ul>li:nth-child(9){
    width: 200px;
    height: 140px;
    background: url(../img/sprites_game_feature2.png) 0px -111px no-repeat;
    position: absolute;
    top: 502px;
    left: 887px;
    transform: rotateZ(-5deg);
    z-index: 4;
     animation: page3-move1 1s ease-out 0.2s;
}
.page3 ul>li:nth-child(10){
    width: 463px;
    height: 398px;
    background: url(../img/sprites_game_feature2.png) 0px -380px no-repeat;
    position: absolute;
    top: 180px;
    left: 272px;
    z-index: 4;
     animation: page3-move1 1s ease-out 0.2s;
}


/*page4*/
.page4{
width: 100%;
height:818px;
background:url(../img/bg_4.jpg) center top no-repeat;
position:relative;
}
.model4{
width: 680px;
height: 698px;
background: url(../img/figure_4.png) -567px 0 no-repeat;
position: absolute;
top: 101px;
left: 50%;
}
.l-logo4{
width: 150px;
height: 121px;
background: url(../img/sprites_index.png) -665px -686px no-repeat;
position: absolute;
top: 39%;
left: 7%;
animation: move1 1s ease-out ;
}
.l-title4{
width: 450px;
height: 193px;
background: url(../img/sprites_index.png) 25px -607px no-repeat;
position: absolute;
top: 35%;
left: 15%;
animation: move2 1s ease-out ;
}

.page4 ul{
    width: 900px;
    height: 773px;
    position: absolute;
    top: 10px;
    left: 810px;
    animation: page4-move1 1s ease-out ;
}
.page4 ul>li{
	animation: page4-move2 1s ease-out 1s infinite;
}
.page4 ul>li:nth-child(1){
    width: 100px;
    height: 130px;
    background: url(../img/sprites_life_feature.png) -25px -10px no-repeat;
    position: absolute;
    top: 105px;
    left: 109px;  
}
.page4 ul>li:nth-child(2){
    width: 100px;
    height: 130px;
    background: url(../img/sprites_life_feature.png) -25px -167px no-repeat;
    position: absolute;
    top: 37px;
    left: 290px;
}
.page4 ul>li:nth-child(3){
    width: 100px;
    height: 130px;
    background: url(../img/sprites_life_feature.png) -25px -312px no-repeat;
    position: absolute;
    top: 410px;
    left: 39px;
}
.page4 ul>li:nth-child(4){
    width: 114px;
    height: 147px;
    background: url(../img/sprites_life_feature.png) -14px -452px no-repeat;
    position: absolute;
    top: 100px;
    left: 633px;
}
.page4 ul>li:nth-child(5){
    width: 165px;
    height: 147px;
    background: url(../img/sprites_life_feature.png) 6px -605px no-repeat;
    position: absolute;
    top: 300px;
    left: 715px;
}
.page4 ul>li:nth-child(6){
    width: 165px;
    height: 147px;
    background: url(../img/sprites_life_feature.png) 6px -749px no-repeat;
    position: absolute;
    top: 579px;
    left: 210px;
}
.page4 ul>li:nth-child(7){
    width: 165px;
    height: 164px;
    background: url(../img/sprites_life_feature.png) 6px -896px no-repeat;
    position: absolute;
    top: 579px;
    left: 515px;
}
.page4 ul>li:nth-child(8){
    width: 165px;
    height: 164px;
    background: url(../img/sprites_life_feature.png) 6px -1049px no-repeat;
    position: absolute;
    top: 479px;
    left: 715px;
}



/*page5*/
.page5{
width: 100%;
height:749px;
background:url(../img/bg_5.jpg) center top no-repeat;
position: relative;
}
.model5{
width: 570px;
height: 689px;
background: url(../img/figure_5.png) 0px 0 no-repeat;
position: absolute;
top: 60px;
left: 50%;
}
.l-logo5{
width: 150px;
height: 121px;
background: url(../img/sprites_index.png) -665px -805px no-repeat;
position: absolute;
top: 39%;
left: 7%;
animation: move1 1s ease-out ;
}
.l-title5{
width: 450px;
height: 193px;
background: url(../img/sprites_index.png) 25px -803px no-repeat;
position: absolute;
top: 35%;
left: 15%;
animation: move2 1s ease-out ;
}

.page5 ul{
	width: 800px;
    height: 800px;
    position: absolute;
    top: 10px;
    left: 840px;
    animation: page5-move1 1s ease-out ;
}
.page5 ul>li:nth-child(1){
    width: 96px;
    height: 107px;
    background: url(../img/sprites_makeup_feature.png) 1px 1px no-repeat;
    position: absolute;
    top: 235px;
    left: 488px;
}
.page5 ul>li:nth-child(2){
    width: 135px;
    height: 129px;
    background: url(../img/sprites_makeup_feature.png) 1px -125px no-repeat;
    position: absolute;
    top: 587px;
    left: 590px;
}
.page5 ul>li:nth-child(3){
	width: 135px;
    height: 140px;
    background: url(../img/sprites_makeup_feature.png) 1px -266px no-repeat;
    position: absolute;
    top: 565px;
    left: -101px;
}
.page5 ul>li:nth-child(4){
	width: 150px;
    height: 212px;
    background: url(../img/sprites_makeup_feature.png) 1px -398px no-repeat;
    position: absolute;
    top: 459px;
    left: 16px;
}
.page5 ul>li:nth-child(5){
    width: 181px;
    height: 97px;
    background: url(../img/sprites_makeup_feature.png) 1px -629px no-repeat;
    position: absolute;
    top: 389px;
    left: 160px;
}
.page5 ul>li:nth-child(6){
    width: 285px;
    height: 97px;
    background: url(../img/sprites_makeup_feature.png) 1px -734px no-repeat;
    position: absolute;
    top: 467px;
    left: 405px;
}


























  /* 底部*/
    	section.bottom{
    		width: 100%;
    		height: 300px;
    		background: #302f37;
    		padding-top: 50px;
    	}
    	section.bottom ul{
    		margin-top: 50px;
    		text-align: center;
    	}
		section.bottom li{
			width: 100px;
			height: 100px;
			display: inline-block;;
		}
		section.bottom li>a{
			color: #6c6b70;
			line-height: 175px;
		}
		.bottom li:nth-child(1){
			background:url(../img/sprites_footer.png) 0px 0px no-repeat;	
		}
		.bottom li:nth-child(2){
			background:url(../img/sprites_footer.png) 0px -100px no-repeat;	
		}
		.bottom li:nth-child(3){
			background:url(../img/sprites_footer.png) 0px -200px no-repeat;	
		}
		.bottom li:nth-child(4){
			background:url(../img/sprites_footer.png) 0px -300px no-repeat;	
		}
		.bottom li:nth-child(5){
			background:url(../img/sprites_footer.png) 0px -400px no-repeat;	
		}
		.bottom li:nth-child(6){
			background:url(../img/sprites_footer.png) 0px -500px no-repeat;	
		}
		.bottom li:nth-child(7){
			background:url(../img/sprites_footer.png) 0px -600px no-repeat;	
		}

		/*伪类*/
		.bottom li:nth-child(1):hover{
			background:url(../img/sprites_footer.png) -100px 0px no-repeat;	
		}
		.bottom li:nth-child(2):hover{
			background:url(../img/sprites_footer.png) -100px -100px no-repeat;	
		}
		.bottom li:nth-child(3):hover{
			background:url(../img/sprites_footer.png) -100px -200px no-repeat;	
		}
		.bottom li:nth-child(4):hover{
			background:url(../img/sprites_footer.png) -100px -300px no-repeat;	
		}
		.bottom li:nth-child(5):hover{
			background:url(../img/sprites_footer.png) -100px -400px no-repeat;	
		}
		.bottom li:nth-child(6):hover{
			background:url(../img/sprites_footer.png) -100px -500px no-repeat;	
		}
		.bottom li:nth-child(7):hover{
			background:url(../img/sprites_footer.png) -100px -600px no-repeat;	
		}
		footer{
			padding-top: 50px;
			text-align: center;
			font-size: 12px;
			color: #6c6b70;
		}